{% extends "index.html" %}

{% block script %}

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src = "https://code.highcharts.com/highcharts.js"></script>
    <script src="../static/graph3.js"></script>

{% endblock %}

{% block content %}
    
<div id = {{ chartID | safe }} style = " height: 400px" ></div>
<script>
    var chart_id = {{ chartID|safe }}
    var series = {{ series|safe }}
    var title = {{ title|safe }}
    var xAxis = {{ xAxis|safe }}
    var yAxis = {{ yAxis|safe }}
    var chart = {{ chart|safe }}
    var subtitle = {{ subtitle | safe }}
    var credits ={{ credits | safe }}
    var plotOptions = {{ plotOptions | safe }}
    var tooltip= {{ tooltip | safe }}
    var legend = {{ legend | safe }}
</script>
{% endblock content %}